<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add connectionString="Data Source=.\SQLEXPRESS2014;Initial Catalog=Northwind;User ID=sa;Password=123+aze" name="NorthwindSqlConnection"/>
  </connectionStrings>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>